.supportBox {
    width: 1065px;
    height: 450.434px;
    box-sizing: border-box;
    padding: 0 89px 0 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    border-radius: 20px;
    background: #F6F6F6;
    margin: 0 0 138px 0;
}

.supportContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32.03px;
    width: 361px;
    color: #272D38;
}

.suportDivider {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16.02px;
}

.supportContent h1 {
    font-size: 48px;
    font-weight: 700;
    width: 361px;
    line-height: 100%;
    position: relative;
    top: -10px;

}

.supportContent p {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.5px;
    width: 360px;
    font-style: normal;
    height: 52.05px;
}

.supportContent button {
    margin: 0 !important;
    font-weight: 600;
    font-size: 16px;
}








@media screen and (max-width: 660px) {
    .supportBox {
        width: 100%;
        gap: 30px;
        height: fit-content;
        padding: 56px 35px;
        box-sizing: border-box;
    }

    .supportBox img {
        display: none;
    }


    .suportDivider {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .supportContent {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .supportContent h1 {
        font-size: 30px;
        width: 223px;
        text-align: center;
    }
}

@media screen and (min-width: 660px) and (max-width: 884px) {

    .supportBox {
        width: 100%;
        gap: 30px;

    }

    .supportBox img {
        width: 250px;
        height: 250px;
    }



    .supportContent h1 {
        font-size: 30px;
        width: 223px;
    }
}

@media screen and (min-width: 848px) and (max-width: 1122px) {
    .supportBox {
        width: 100%;
        gap: 30px;
    }

    .supportBox img {
        width: 350px;
        height: 350px;
    }

    .supportContent h1 {
        font-size: 30px;
        width: 223px;
    }

}

@media screen and (min-width: 1921px) {}