.navSm {
    width: 100%;
    background: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 2px 16.8px 3.2px #95959578;
    z-index: 5;
    margin: 0 0 20px 0;
}

.magic {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px 0 0 20px;
    z-index: 9;
    background-color: #ffffff;

}

.magic a {
    padding: 10px 0;
    font-size: 20px;
}

.navSm button {
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: black;
    cursor: pointer;
}

@media screen and (min-width: 660px) {
    .navSm {
        display: none;
    }
}