.hero-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    color: #272D38;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25.59px;
    height: 263px;
}

.hero-content h1 {
    width: 435.687px;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
}

.hero-content p {
    width: 392.217px;
    font-size: 16px;
    line-height: 27.5px;
    text-transform: capitalize;
}

.hero-content .arrow {
    cursor: pointer;
    position: relative;
    bottom: -8px;
}




@media screen and (max-width: 400px) {}

@media screen and (min-width: 401px) and (max-width: 720px) {}

@media screen and (min-width: 721px) and (max-width: 1280px) {}

@media screen and (min-width: 121px) and (max-width: 780px) {

    .hero-content .arrow {
        transform: rotate(90deg);
    }

    .hero-flex {
        flex-direction: column-reverse !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .hero-flex>div>img {
        width: 350px;
        height: 350px;
    }

    .hero-content {
        align-items: center;
    }

    .hero-content h1 {
        font-size: 32px;
        width: 380px;
    }
}

@media screen and (min-width: 780px) and (max-width: 1080px) {

    .hero-flex>div>img {
        width: 350px;
        height: 350px;
    }

    .hero-content h1 {
        font-size: 35px;
        width: 315px;
    }

    .hero-content p {
        width: 315px;
    }

}

@media screen and (min-width: 1921px) {}