* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html,
body {
    overflow-x: hidden;
    position: relative;
}

.screen_center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.top-aura {
    position: absolute;
    top: 0;
    left: 0;
    width: 679px;
    height: 679px;
    z-index: -3;
    overflow: hidden;
}

.scroll {
    background: white;
    position: fixed;
    transition: 0.3s;
    z-index: 999;
    box-shadow: 0 2px 16.8px 3.2px #95959578;

}

.rootWrapper {
    width: 1065px;
    margin: 0 auto;
}

.txtPrimary {
    color: #272D38;
}

.btn-primary {
    padding: 10px 31px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}


/* layout */
@media screen and (max-width: 1040px) {
    .rootWrapper {
        width: 90vw;
        margin: 0 auto;
    }
}