* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.rootWrapper {
    width: 1440px;
    margin: 0 auto;
}

.txtPrimary {
    color: #272D38;
}

.btn-primary {
    padding: 10px 31px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}


/* layout */
@media screen and (max-width: 1040px) {
    .rootWrapper {
        width: 90vw;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1040px) and (max-width: 1460px) {
    .rootWrapper {
        width: 1000px;
        margin: 0 auto;
    }
}