.trust-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 50px 0;
    width: 100%;
    margin: 157px 0 0 0;
}

.trust-holder>p {
    color: #667085;
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
    text-transform: capitalize;
}

.clients {
    width: 915px;
    height: 86px;
    border-radius: 8px;
    background: #F6F6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 19px 24px;
}

.comapny-holder-sm {
    display: none;

    justify-content: space-between;
    align-items: center;
}

.comapny-holder-md {
    display: none;

    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 375px) {
    .clients {
        width: 95vw;
        padding: 19px 5px;

    }

    .comapny-holder-sm {
        display: flex !important;
    }

    .comapny-holder-xl {
        display: none !important;
    }
}

@media screen and (min-width: 375px) and (max-width: 730px) {
    .clients {
        width: 90vw;
        padding: 19px 16px;

    }

    .comapny-holder-sm {
        display: flex !important;
    }

    .comapny-holder-xl {
        display: none !important;
    }
}

@media screen and (min-width: 730px) and (max-width: 980px) {
    .clients {
        width: 700px;
    }

    .comapny-holder-md {
        display: flex !important;
    }

    .comapny-holder-sm {
        display: none !important;
    }

    .comapny-holder-xl {
        display: none !important;
    }
}

@media screen and (min-width: 1921px) {}