footer {
    width: 100vw;
    min-height: 443px;
    background: #F6F6F6;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 110px;
    color: #272D38;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.fooWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 367.68px 319px 263px 123.19px;
    justify-content: flex-start;
    width: 1093px;
    align-items: flex-start;
    position: relative;
    top: -20px;
    left: 2px;
}

.fooLogo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.fooLogo h1 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.fooLogo p {
    width: 189.291px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 150%;
}

footer>p {
    position: relative;
    bottom: 22px;
    text-align: center;
    color: #272D38;
    font-weight: 300;
    left: -14px;

}


@media screen and (max-width: 600px) {
    .fooWrapper {
        grid-template-columns: repeat(1, 190px);
        gap: 70px 0;
    }

    footer {
        min-height: 1140px;
    }

    .fooLogo {
        align-items: center;
        text-align: center;
    }

    .linkBox {
        justify-content: center !important;
        align-items: center !important;
    }

    .footerRoutes {
        justify-content: center !important;
        align-items: center !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
    .fooWrapper {
        grid-template-columns: repeat(2, 190px);
        gap: 60px 0;
    }

    footer {
        min-height: 650px;
    }
}



@media screen and (min-width: 1921px) {}