.heros {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    gap: 136px;
    width: 100%;
    margin: 0 0 200px 0;
}

.aura-gradient {
    position: absolute;
    width: 679px;
    height: 679px;
    border-radius: 50%;
    overflow: hidden;
    right: -150px;
    margin: 167px 0 0 0;
    display: none;
}


@media screen and (max-width: 400px) {}

@media screen and (min-width: 401px) and (max-width: 720px) {}

@media screen and (min-width: 721px) and (max-width: 1280px) {}

@media screen and (min-width: 1281px) and (max-width: 1440px) {}

@media screen and (min-width: 1441px) and (max-width: 1920px) {}

@media screen and (min-width: 1921px) {}